@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@400&display=swap');

body {
    background-color: #F9FAFC;
    font-family: 'Raleway', sans-serif;
}

/* Headings */

h1, h2, h3 {
    font-family: 'Permanent Marker', sans-serif;
}

/* Colors */

.blue {
    background-color: rgb(108, 171, 221);
}

/* Header & Navbar */

#logo {
    font-size: xx-large;
    font-family: 'Permanent Marker', sans-serif;
    color: white;
    /* letter-spacing: 1px; */
    /* text-shadow: 3px 0 0 #3A4856, 0 -3px 0 #3A4856, 0 3px 0 #3A4856, -3px 0 0 #3A4856; */
}

.nav-link {
    /* color: black; */
    /* color: rgb(50.2%, 0%, 0%); */
    color: rgb(255, 198, 89);
    color: white;
    /* text-shadow: 3px 0 0 #3A4856, 0 -3px 0 #3A4856, 0 3px 0 #3A4856, -3px 0 0 #3A4856; */
    /* color: rgb(255, 198, 89); */
    font-family: 'Permanent Marker', sans-serif;
    font-size: x-large;
}

.nav-link:hover {
    color: white;
    text-shadow: 3px 0 0 #002C5A, 0 -3px 0 #002C5A, 0 3px 0 #002C5A, -3px 0 0 #002C5A;
}

/* Alert Messages */

#msg {
    position: absolute;
    z-index: 4;
    width: 100%;
}


/* Jumbotron */

.jumbotron {
    background-image: url(../images/compactor.jpg);
    background-size: cover;
    height: 500px;
}

/* Calculator */

#equipment-list {
    height: 97.5px;
}

.table thead th {
    text-align: center;
    vertical-align: middle;
    color: white;
    /* color: #002C5A; */
}

/* Equipment List */

.card img {
    height: 350px;
}

/* Equipment Detail */

#equip-detail-img {
    height: 500px;
}

/* Footer */

.footer {
    padding: 0;
    overflow-x: hidden;
}

.fa-github {
    font-size: large;
}

/* Buttons */

.btn {
    border: 0;
    border-radius: 15px;
    color: white;
    background-color: rgb(108, 171, 221);
}

.page-link {
    margin-left: 10px;
}

.page-link:hover {
    background-color: white;
    color: rgb(108, 171, 221);
}
