{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

  <div class="row m-4">
    <!-- Equipment Detail Column -->
    <div class="col-12 d-flex justify-content-end">
      <a class="btn" href="{% url 'delete_all' %}" role="button"><i class="fa-solid fa-rotate-right"></i> Reset</a>
    </div>
  </div>
</div>

<div class="container-fluid p-0">
  <div class="row m-4">
    <div class="col-lg-12 col-sm-4">
      <table class="table">
        <thead class="blue">
          <tr id="equipment-list">
            <th>Category - Make and Model</th>
            <th class="mobile">Vibration Magnitude</th>
            <th class="mobile">Exposure Points per Hour</th>
            <th class="mobile">Time to reach EAV 2.5 m/s&#178; A(8)</th>
            <th class="mobile">Time to reach ELV 5 m/s&#178; A(8)</th>
            <th class="mobile">Exposure Duration</th>
            <th></th>
            <th class="invisible border-0 mobile"></th>
            <th class="mobile">Partial Exposure m/s² A(8)</th>
            <th class="mobile">Partial Exposure Points</th>
          </tr>
        </thead>
        <tbody>
          {% for equipment in calculator_list %}
          <tr class="text-center">
            <td>{{ equipment.make_and_model.category }} - {{ equipment.make_and_model }}</td>
            <td class="mobile">{{ equipment.make_and_model.vibration_magnitude }}</td>
            <td class="mobile">{{ equipment.make_and_model.exp_pts_per_hour }}</td>
            <td class="mobile">{{ equipment.make_and_model.time_to_eav }}</td>
            <td class="mobile">{{ equipment.make_and_model.time_to_elv }}</td>
            <td class="mobile">{{ equipment.exposure_duration_hours }} Hours {{ equipment.exposure_duration_minutes }} Minutes</td>
            <td>
              <a href="{% url 'calculator_detail' equipment.slug %}"><i class="btn fa-solid fa-circle-info"></i></a>
              <a href="{% url 'edit_calculator' equipment.slug %}"><i class="btn fa-solid fa-pen-to-square"></i></a>
              <a href="{% url 'delete_calculator' equipment.slug %}"><i class="btn fa-solid fa-trash"></i></a>
            </td>
            <td class="border-0 mobile"></td>
            <td class="partial-exposure text-center mobile">{{ equipment.partial_exposure }}</td>
            <td class="partial-exposure-pts text-center mobile">{{ equipment.partial_exposure_pts }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="col-12 d-flex justify-content-end">
        <a class="btn" href="{% url 'add_calculator' %}" role="button"><i class="fa-solid fa-plus"></i> Add
          Equipment</a>
      </div>
    </div>

  <!-- Project Controls and Daily Exposure -->

  <div class="row m-4 mb-5" id="flex">
    <div class="col-lg-4 col-sm-12 pr-0 pl-0" id="a">
      <table class="table">
        <thead class="blue">
          <tr>
            <th>General Controls to Consider</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="text-left">
                <li>Identify the significant sources of vibration.</li>
                <li>Prioritise them as contributors to risk (ie operator exposure).</li>
                <li>Identify and evaluate solutions in terms of practicability and cost.</li>
                <li>Plan the introduction of reasonably practicable controls, with timescales.</li>
                <li>Plan the introduction of health surveillance.</li>
                <li>Define management responsibilities and allocate adequate resources to implement controls, evaluate
                  them and monitor progress.</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

      <div class="col-lg-4 col-sm-12 pr-0 pl-0" id="b">
        <table class="table">
          <thead class="blue">
            <tr>
              <th>EAV/ELV Specific Control Measures to Consider</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left" id="specific-controls"></td>
            </tr>
          </tbody>
        </table>
      </div>

    <div class="col-lg-2 col-sm-6" id="c">
      <table class="table">
        <thead class="blue">
          <tr>
            <th>Exposure Warning</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-weight-bold text-center" id="exposure-warning"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-2 col-sm-6" id="d">
      <table class="table">
        <thead class="blue">
          <tr>
            <th>Daily Exposure m/s² A(8)</th>
            <th>Total Exposure Points</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center" id="daily-exposure">
              <button class="btn" id="calc-daily-exposure"><i class="fa-solid fa-calculator"></i> Calculate Daily
                Exposure</button>
              <span class="invisible">0.0</span>
            </td>
            <td class="text-center" id="daily-exposure-pts">0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  {%endblock%}