{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center">
  <div class="row m-4">

        <!-- Delete equipment from calculator page -->

    <div class="col-12">
      <h3>Delete Project</h3>

      <form method="POST" style="margin-top: 1.3em;">
        <p>Do you want to delete the following equipment from the calculator: {{ object.make_and_model }}?</p>
        {% csrf_token %}
        <button type="submit" class="btn">Submit</button>
        <a class="btn cancel" href="{% url 'calculator_list' %}" role="button">Cancel</a>
    </form>
    </div>
  </div>
</div>

{%endblock%}