{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row m-4">
    {% for equipment in equipment_list %}
    <div class="card" style="width: 18rem;"> 
      <!-- Add Image Placeholder -->
      <img src="{{ equipment.equipment_image.url }}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{ equipment.category }} - {{ equipment.make_and_model }}</h5>
        <a href="{% url 'equipment_detail' equipment.slug %}" class="btn btn-primary">View Details</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Source: Code Institute - I Think Therefore I Blog Videos -->
  {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}