{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row m-4 justify-content-center">
    {% for equipment in equipment_list %}
    <div class="card" style="width: 18rem;">

      <!-- Source: Code Institute - I Think Therefore I Blog Videos -->
      {% if "placeholder" in equipment.equipment_image.url %}
      <img class="card-img-top"
          src="../static/images/placeholder-img.jpg">
      {% else %}
      <img src="{{ equipment.equipment_image.url }}" class="card-img-top" alt="{{ equipment.make_and_model}}">
      {% endif %}

      <div class="card-body text-center">
        <h5 class="card-title">{{ equipment.category }} - {{ equipment.make_and_model }}</h5>
        <a href="{% url 'equipment_detail' equipment.slug %}" class="btn"><i class="fa-solid fa-circle-info"></i> View Details</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Source: Code Institute - I Think Therefore I Blog Videos -->
  {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="btn page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}