{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Project List Column -->
        <div class="col-12 p-0">
            <div class="jumbotron jumbotron-fluid d-flex align-items-center justify-content-center">
                <h1 class="display-4 text-center">HAVS | CALC | DB</h1>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <h2 class="display-4">What is HAVS?</h2>
            <p>HAVS stands for Hand Arm Vibration Syndrome which is a condition caused by exposure of the hands and arms to vibration 
                when using hand held tools (e.g. pneumatic drills, grinders, chipping hammers). It is not caused by whole-body vibration or sound.
            </p>
            <p>
                HAVS has two main components: damage to the blood vessels, and damage to the nerves in the arm and hand. These manifest in the individual 
                fingers going white (Raynaud's phenomenon) for periods of time when the hand is exposed to cold and also loss of sensation/'pins-and-needles' 
                in the fingers. Damage to the blood vessels reverses to a certain extent after removal from exposure, but damage to the nerves is permanent.
            </p>
        </div>

        <div class="col-12">
            <h2 class="display-4">How can it be prevented at work?</h2>
            <p>In order to control the risks that cause this condition, the UK Health and Safety Executive has brought in legislation called 
                'The Control of Vibration at Work Regulations 2005' which came into force on 6 July 2006. These regulations introduce action 
                and limit values for both hand-arm and whole-body vibration. To ensure that your employees are not exposed to levels above these 
                values, a risk assessment should be completed using a HAVS calculator.
            </p>
        </div>

        <div class="col-12">
            <h2 class="display-4">How HAVS | CALC | DB can help?</h2>
            <p>
                Managing HAVS within a large workforce can be difficult! Initially ensuring that all tools have been appropriately tested, but also then
                ensuring that this information is available to all employees so that they can appropriately assess each activity which they undertake.
            </p>
            <p>
                This is where HAVS|CALC|DB comes in. HAVS|CALC|DB is a central database where you are able to store all of the appropriate information 
                about your vibration generating tools which is also accessible by your employees through the web. This information can then be used in 
                the HAVS calculator, so they can risk assess each activity which they have been tasked to complete.
            </p>
            <p>
                HAVS|CALC|DB will also:
            </p>
            <ul>
                <li>Make it quicker and easier for the an employee to assess a vibration task as all of the information is in a central accessible place</li>
                <li>Improve an employees selection of equipment as they are able to decided to use a tool with a lower magnitude now that this information
                     is available to them</li>
                <li>Reduce mistakes from potentially transfering incorrect information from testing reports or manufacturers instructions</li>
                <li>Improve the uptake of employees assessing their vibration tasks given all of the information will be available to them and it easy to use</li>
                <li>Create a place for the management of company equipment. The database provides a central database of tools so the company is aware of what is being
                     used within the business </li>
            </ul>
            <p>
               If you think HAVS|CALC|DB would help your business, <a href="{% url 'account_signup' %}">register for a free account today!!!</a>
            </p>
        </div>
    </div>
</div>

{%endblock%}